In [1]:
import numpy as np
import pandas as pd
import sklearn as skn
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from utils.utils import DataHandler, FeatureRecipe, FeatureExtractor

In [2]:
dt = DataHandler()

DataHandlerintialisation
intialisation done

In [3]:
dt.get_process_data()

loading data from bucket
data loaded from bucket
merging data
size of the merged data : 999 lines, 20 columns
end of processing

In [4]:
fr = FeatureRecipe(dt.df_res)
fr.get_process_data(0.3)

FeatureRecipe intialisation
end of intialisation
dropping useless columns
done dropping
dropping columns with 0.3 percentage
dropped 0 columns
dropping duplicated rows
dropping column :is_business_travel_ready
duplicated rows dropped
separating columns
dataset column size : 18
number of discreet values : 4
number of continuous values : 6
number of others : 8
taille total : 18
end of FeatureRecipe processing

In [6]:
flist = ['listing_id','name','type','city','neighborhood','latitude','longitude','is_rebookable','is_new_listing','is_fully_refundable','is_host_highly_rated']

In [7]:
fe = FeatureExtractor(fr.df,flist)
X_trn, X_tst, y_trn, y_tst = fe.get_process_data()

FeatureExtractor intialisation
intialisation done
extracting unwanted columns
done extracting unwanted columns
splitting dataset for train and test
splitting done
done processing Feature Extractor

In [11]:
fe.y_test

453      79.810390
793     125.000000
209      95.453333
309      29.000000
740      82.588391
          ...
314     718.092784
404     517.996183
7       213.324607
155      79.000000
809    1300.000000
Name: local_price, Length: 300, dtype: float64

In [13]:
fr.df.head()

,person_capacity,beds,bedrooms,bathrooms,pricing_weekly_factor,pricing_monthly_factor,local_price
0,1,1,1,2.0,1.00,1.00,45.948454
1,2,1,1,1.0,0.88,0.69,44.473684
2,1,1,1,1.0,1.00,1.00,49.000000
3,3,2,2,1.0,0.82,0.48,165.000000
4,2,1,1,1.0,0.95,0.90,69.774436